<div id="page_wrapper">
<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<div style="float: left;"><%= button_to 'Show', @post, :class => 'button', :method => :get %></div>
<div style="float: left;"><%= button_to 'Back', posts_path, :class => 'button', :method => :get %></div>
</div>